{% extends 'base.html' %}
{% block title %}
  Home Page
{% endblock title %}
{% block body %}
<center><h2 style="margin-bottom:40px">How to use the Todo App</h2></center>
<br>
<ul style="margin-left:100px;margin-right:200px;margin-bottom:40px ">
    <li>Add a title for the todo by filling in the first input field</li>
    <li>Add a short description of the todo title next</li>
    <li>Click submit, to have your todo appended to the list below</li>
    <li>Click on update/delete to perform respective operation on the todo created</li>
</ul>
<h2 style="margin-left:100px;margin-right:200px">What is a Todo App</h2>
<p style="margin-left:100px;margin-right:200px">
    What is a todo app, the definition is a simple one. <em>Its a list of tasks you need to complete or things that you want to do</em>
</p>
<p style="margin-left:100px;margin-right:200px">
    Most typically, they’re organised in order of priority. Traditionally, they’re written on a piece of paper or post it notes and act as a memory aid. As technology has evolved we have been able to create a todo lists with excel spreadsheets, word documents, email lists, todo list apps, Microsoft to do and google to do list to name a few. You can use a to do list in your home and personal life, or in the workplace.
</p>



  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
{% endblock body %}
